{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
      <style>
            .my-profile {
                  background-color: var(--bg-primary) !important;
                  color:  #857f94 !important;

            }
            .my-profile svg   {
                  display: none;
            }

            .cover-photo {
                    position: relative;
            }

            .profile-photo {
                    /* position: absolute; */
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
            }

            .profile-name {
                    /* margin-top: 60px; */
            }
      </style>


{% if not request.user.restaurant %}
                  <a href="{% url "company:profile-company"  request.user.employee_profile.company.id %}" 
                              style="text-decoration: none;" class='d-flex justify-content-center flex-wrap'>
                        <img src="{{request.user.employee_profile.company.img.url}}"  alt="No-Foun"
                              style='width: 90px; height: 90px; border: 10px solid var(--bg-secundary);' class="object-fit-cover rounded-circle"> 
                        <h5 class="w-100 text-center m-0 p-0 mt-1" 
                              style="font-family: Lobster, sans-serif; " >
                              {{ request.user.employee_profile.company.name }}
                        </h5>
                        <span style="font-weight: bold; font-size: 12px;" class="text-white-50 m-0 p-0">
                              {{request.user.first_name}} {{request.user.last_name}} 
                        </span>
                  </a>
            {% else %}  
                  <a  style="text-decoration: none;" class='d-flex justify-content-center flex-wrap'>
                        <img src="{{request.user.restaurant.img.url}}"  alt="No-Foun"
                              style='width: 90px; height: 90px; border: 10px solid var(--bg-secundary);' class="object-fit-cover rounded-circle"> 
                        <h5 class="w-100 text-center m-0 p-0 mt-1" 
                              style="font-family: Lobster, sans-serif; " >
                              {{request.user.restaurant.name}} 
                        </h5>
                        <span style="font-weight: bold; font-size: 12px;" class="text-white-50 m-0 p-0">
                              {{request.user.first_name}} {{request.user.last_name}} 
                        </span>
                  </a>
            {% endif %}
      </div>

      <div style="text-align:center; margin-top:20px;" class="position-absolute top-0 end-0 me-3">
            <a href="{% url 'company:logout' %}" style="color: #857f94; text-decoration: none;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plug-fill" viewBox="0 0 16 16">
                        <path d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.08 2.08 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.92 1.92 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0"/>
                      </svg> Cerrar seesión
            </a>
      </div>


{% endblock  %}