{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
      <style>
            .my-profile {
                  background-color: var(--bg-primary) !important;
                  color:  #857f94 !important;

            }
            .my-profile svg   {
                  display: none;
            }

            .cover-photo {
                    position: relative;
            }

            .profile-photo {
                    /* position: absolute; */
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
            }

            .profile-name {
                    /* margin-top: 60px; */
            }
                  #id_email, #id_password {
            text-align: start !important;
            background-color: rgb(71, 71, 71);
            border: none; outline: none;
            padding: 0.8rem;  margin-top: 0.2rem; margin-bottom: 0.4rem;
            border-radius: 2rem;
            width: 100%;
            text-align: center;

            color: white;

  }
  #id_password::placeholder, #id_email::placeholder {
        color: rgb(179, 179, 179) !important;

      }
      </style>


{% if not request.user.restaurant %}
                  <a href="{% url "company:profile-company"  request.user.employee_profile.company.id %}" 
                              style="text-decoration: none;" class='d-flex justify-content-center flex-wrap'>
                        <img src="{{request.user.employee_profile.company.img.url}}"  alt="No-Foun"
                              style='width: 90px; height: 90px; border: 10px solid var(--bg-secundary);' class="object-fit-cover rounded-circle"> 
                        <h5 class="w-100 text-center m-0 p-0 mt-1" 
                              style="font-family: Lobster, sans-serif; " >
                              {{ request.user.employee_profile.company.name }}
                        </h5>
                        <span style="font-weight: bold; font-size: 12px;" class="text-white-50 m-0 p-0">
                              {{request.user.first_name}} {{request.user.last_name}} 
                        </span>
                  </a>
            {% else %}  
                  <a  style="text-decoration: none;" class='d-flex justify-content-center flex-wrap'>
                        <img src="{{request.user.restaurant.img.url}}"  alt="No-Foun"
                              style='width: 90px; height: 90px; border: 10px solid var(--bg-secundary);' class="object-fit-cover rounded-circle"> 
                        <h5 class="w-100 text-center m-0 p-0 mt-1" 
                              style="font-family: Lobster, sans-serif; " >
                              {{request.user.restaurant.name}} 
                        </h5>
                        <span style="font-weight: bold; font-size: 12px;" class="text-white-50 m-0 p-0">
                              {{request.user.first_name}} {{request.user.last_name}} 
                        </span>
                  </a>
            {% endif %}
      </div>

      <div style="text-align:center; margin-top:20px;" class=" ">

            <a href="{% url 'company:logout' %}" style="color: #857f94; text-decoration: none; font-weight: bold;"
            class="btn btn-danger text-white rounded-4"> 
                   Cerrar seesión
            </a>
      </div>


{% endblock  %}