<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="
  
background-color: #1f1e22;
  ">


<section class="blur-5 w-100 overflow-hidden" style="height: 100vh;  color: white; flex-wrap: wrap; align-content: center; justify-content: center;">
  
      <div style=" max-width: 35rem;" class="container  mb-5 pb-5">
        <div class="d-flex justify-content-center mb-5 pb-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
          </svg>
        </div>
            <strong class="p-0 m-0 mt-3"> Inicar session</strong>
            <p class="m-0 p-0" style="font-size: 12px;">
                  Inicia en cuenta para poder disfrutar de todos los beneficios de EasyFood
            </p>
            <form method="post">
                  {% csrf_token %}
                  <input placeholder="Correo" type="email" id="email" name="username" required class=" bg-white bg-opacity-25 mt-2 mb-2">
                  <input placeholder="Contraseña" type="password" id="password" name="password" required class=" bg-white bg-opacity-25 mb-3"> 
                  <div class="w-100 d-flex justify-content-center  mt-3 mb-3 ">
                        <button type="submit" class="btt bg-warning w-100 rounded-4 border-0 text-black "
                        style="font-weight: bold;          padding: 0.7rem;">  Continuar</button>
                  </div>
            </form>
            {% if messages %}
            <div class="w-100 text-center mt-4">
              <span class="text-warning  exist-user text-center " style="font-size: 14px;">
                <a  href='{% url "company:recovery-password" %}'  class="ms-2 text-primary text-decoration-none" >¿Olvidaste la contraseña? </a>
              </span>
                  {% for message in messages %}
                      <p class="text-danger"> ! {{ message }}</p>
                  {% endfor %}
                </div>
                {% endif %}

            <div class="w-100 d-flex ">
              <hr class="w-100 m-3"> o
              <hr class="w-100 m-3">
            </div>
            <div class="text-start"> 
                  <p class="m-0 p-0" style="font-size: 14px;">
                        <!-- O  ingresa con -->
                  </p>
            </div>
            <div class="d-flex justify-content-center ">
                  <button onclick="window.location.href='/auth/google'" class="bg-white bg-opacity-25  w-100 text-white border-0 me-3 p-2  rounded-4 rounded-end-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-google " viewBox="0 0 16 16">
                              <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                            </svg>
                  </button>
                  
                  <button onclick="window.location.href='/auth/facebook'" class="bg-white bg-opacity-25  w-100 p-2 rounded-4 rounded-start-4 text-white border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                            </svg>
                  </button>
            </div>
      </div>
</section>

<style>
      input {
            text-align: start !important;

            border: none; outline: none;
            padding: 1rem;  margin-top: 0.2rem; margin-bottom: 0.4rem;
            border-radius: 1.5rem;
            width: 100%;
            text-align: center;

            color: white;

  }
  #id_password::placeholder, #id_email::placeholder {
        color: rgb(255, 255, 255) !important;
        font-weight: bold;

      }

/* Efecto de desenfoque */
.blur-5 {
      -webkit-backdrop-filter: blur(5px) !important;
      backdrop-filter: blur(5px) !important;
}
.blur-10 {
      -webkit-backdrop-filter: blur(10px) !important;
      backdrop-filter: blur(10px) !important;
}
.blur-20 {
      -webkit-backdrop-filter: blur(80px) !important;
      backdrop-filter: blur(80px) !important;
}


</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const emailInput = document.getElementById('email');
    const passwordInput = document.getElementById('password');
    const submitButton = document.querySelector('button[type="submit"]');

    function toggleSubmitButton() {
      if (emailInput.value && passwordInput.value) {
        submitButton.classList.remove('d-none');
      } else {
        submitButton.classList.add('d-none');
      }
    }

    emailInput.addEventListener('input', toggleSubmitButton);
    passwordInput.addEventListener('input', toggleSubmitButton);

    toggleSubmitButton(); // Initial check
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
