# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environments
.env
venv/
env/
ENV/
.venv/
.idea/
.vscode/
vn/

# Django specific
*.mo
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.cover
*.coverage
.coverage.*
.cache
.tox/
nosetests.xml
coverage.xml
*.coveragerc
*.codecov.yml
*.pylintrc
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/
celerybeat-schedule
celerybeat.pid
*.sage.py
*.pkl
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
