<style>
      .card{
            background-color: rgba(25, 25, 25, 0.511);
            border-radius: 3rem;
            padding: 0.9rem; margin: 1rem;
            max-width: 25rem; height: 12rem;
            cursor: pointer;
            transition: 0.2s ease-out;
      }
      .card-title
      {
            color: rgb(229, 229, 229);

      }
      .card-text{
            color: rgb(199, 199, 199);
            height: 6rem; overflow: hidden;

      }
      .card:hover
      {
            background-color: rgba(0, 0, 0, 0.511);
      }
      a {
            text-decoration: none;
      }
</style>
<a href="{% url "company:contratos" %}">

      <div class="card mb-3 ">
            <div class="card-body">
                  <h4 class="card-title"> Contratos de clientes</h4>
                  <p class="card-text">
                        Los contratos son acuerdos legales entre dos o más partes que establecen obligaciones y derechos mutuos. Pueden ser formales (escritos y firmados) o informales (verbales o implícitos) 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
      </div>
</a>

<a href="{% url "company:platos" %}">
      <div class="card mb-3 ">
            <div class="card-body">
                  <h4 class="card-title"> Registrar precios </h4>
                  <p class="card-text">
                        Asignar un precio específico a cada categoría de comida que ofrece el restaurante
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
      </div>
</a>


<div class="card mb-3 ">
      <div class="card-body">
            <h4 class="card-title"> Contratos de clientes</h4>
            <p class="card-text">
                  Los contratos son acuerdos legales entre dos o más partes que establecen obligaciones y derechos mutuos. Pueden ser formales (escritos y firmados) o informales (verbales o implícitos) 
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
</div>


<div class="card mb-3 ">
      <div class="card-body">
            <h4 class="card-title"> Contratos de clientes</h4>
            <p class="card-text">
                  Los contratos son acuerdos legales entre dos o más partes que establecen obligaciones y derechos mutuos. Pueden ser formales (escritos y firmados) o informales (verbales o implícitos) 
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
</div>


<div class="card mb-3 ">
      <div class="card-body">
            <h4 class="card-title"> Contratos de clientes</h4>
            <p class="card-text">
                  Los contratos son acuerdos legales entre dos o más partes que establecen obligaciones y derechos mutuos. Pueden ser formales (escritos y firmados) o informales (verbales o implícitos) 
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
</div>


<div class="card mb-3 ">
      <div class="card-body">
            <h4 class="card-title"> Contratos de clientes</h4>
            <p class="card-text">
                  Los contratos son acuerdos legales entre dos o más partes que establecen obligaciones y derechos mutuos. Pueden ser formales (escritos y firmados) o informales (verbales o implícitos) 
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
</div>