<style>
      .card-options .card     {
            min-width: 30rem; height: 12rem;
            background-color: var(--bg-primary);
            margin: 0.6rem; 
            cursor: pointer;
      }
      .card-options .card:hover     {
            /* transform: scale(0.9);  */
            /* transition: 0.2s !important; */
      }
</style>

<section class="card-options d-flex   overflow-auto  ">
      <div data-aos="fade-left" style="transition-delay: 1s;" class='card rounded-5 p-4'>
            <h4>
                  Gestionar empresas
            </h4>
            <p>
                  Asociar empleados a cada empresa para habilitarles el servicio, registrar empresas clientes, configurar tipo de servicios contratados ( desayuno, comida, cena )
            </p>
      </div>

      <div data-aos="fade-left" style="transition-delay: 0.9s;"  class='card rounded-5 p-4'>
            <h4>
                  Gestionar empresas
            </h4>
            <p>
                  Registrar empresas, administrar empleados, configurar servicio, ects
            </p>
      </div>

      <div data-aos="fade-left" style="transition-delay: 0.7s;" class='card rounded-5 p-4'>
            <h4>
                  Gestionar empresas
            </h4>
            <p>
                  Registrar empresas, administrar empleados, configurar servicio, ects
            </p>
      </div>

      <div data-aos="fade-left" style="transition-delay: 0.6s;" class='card rounded-5 p-4'>
            <h4>
                  Gestionar empresas
            </h4>
            <p>
                  Registrar empresas, administrar empleados, configurar servicio, ects
            </p>
      </div>

</section>