<section class="position-absolute d-none  z-3 sec-top blur-20 top-0 start-0 w-100 vh-100 d-flex justify-content-center flex-wrap align-content-center">
      <div class="p-3">
            <svg xmlns="http://www.w3.org/2000/svg" onclick="LoadMasiveImport()" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill me-1 position-absolute" viewBox="0 0 16 16" style="cursor: pointer;">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
            </svg>
            <div id="download-template" class="p-5 bg-black shadow bg-opacity-25 " 
                  style=" width: 890px; height: 530px; border-radius: 3rem;">
                      <h5 class="m-0 p-0">
                          Carga masiva de usuarios
                      </h5>
                      <p class="p-0 m-0 ">Para realizar la carga masiva de usuarios, debes descargar la plantilla > una vez agrega los usuario > luego cargar el nuevo archivo con sus datos<br>
                        <a href="" class="btn mt-3 p-2 pe-4 ps-4 btn-warning rounded-5" download style="font-weight: bold; font-size: 16px;" >Descargar plantilla</a>
                      </p>

                          <div class="w-100 mt-3 pt-4">
                              <!-- <form id="upload-form" class="w-100" action="" method="post" enctype="multipart/form-data"> -->
                                  <!-- {% csrf_token %} -->
                                  <div class="mb-3 w-100">
                                      <label for="file" class="form-label w-100" style="cursor: pointer;">
                                          <div style="height: 270px; border-radius: 3rem; background-color: var(--bg-secundarys); border: 4px rgba(38, 38, 38, 0.222)  solid;" class="w-100  d-flex  bg-black bg-opacity-25 justify-content-center align-content-center flex-wrap   ">
                                              <strong>
                                                  Carga tu archivo aquí <span class="text-white-50">( usuario.XLSX )</span>
                                              </strong>
                                          </div>
                                      </label>
                                      {% csrf_token %}
                                      <input type="file" class="form-control d-none" id="file" name="file" required onchange="Load_Masive_Excel_Users()">
                                  </div>
           
                              <!-- </form> -->
               
                          </div>
            </div>
      </div>
  </section>