{% extends "food/base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<style>
    .reports {
            background-color: var(--bg-primary) !important;
            color:  #857f94 !important;
            transform: scale(1.1);
      }
    .reports svg   {
            display: none;
      }
    form input, select {
            background-color: var(--bg-primary);
            border: none; outline: none;
            padding: 0.6rem; border-radius: 2rem;
            width: 10rem;
            text-align: center;
            color: white;
        }
    input::placeholder  {
        color: white !important;
    }
    .form-select {
        background-color: var(--bg-primary);
        border: none; outline: none;
        padding: 0.6rem; border-radius: 2rem;
        width: 10rem;
        text-align: center;
        color: white;
    }
</style>
      
<section>

      <div>
            <table class=" w-25">
                <thead>
                    <tr>
                        <th>Total facturado</th>
                        <th>Pendiente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> ${{total|intcomma}}.00 </td>
                        <td>${{ total_pendiente|intcomma }}.00</td>
                    </tr>
                </tbody>
            </table>
      </div>

      <!-- Reports -->
      <h5 class="mt-5">
     Reportes de ordenes
      </h5>
       <p class="m-0 p-0 mt-2 mb-1"> 
        Realiza un reporte de las ordenes realizadas de inicio de periodo de (Inicio - Fin)
      </p> 
      <div class='d-flex mb-4  '>
        <form method="GET" action="" class="d-flex" id="reportForm">
            <select class='form-select w-50 rounded-end-1 me-1' id="start_month" name="start_month" required>
                <option value="" disabled>Inicio</option>
                <option value="1" {% if request.GET.start_month == '1' %}selected{% endif %}>Enero</option>
                <option value="2" {% if request.GET.start_month == '2' %}selected{% endif %}>Febrero</option>
                <option value="3" {% if request.GET.start_month == '3' %}selected{% endif %}>Marzo</option>
                <option value="4" {% if request.GET.start_month == '4' %}selected{% endif %}>Abril</option>
                <option value="5" {% if request.GET.start_month == '5' %}selected{% endif %}>Mayo</option>
                <option value="6" {% if request.GET.start_month == '6' %}selected{% endif %}>Junio</option>
                <option value="7" {% if request.GET.start_month == '7' %}selected{% endif %}>Julio</option>
                <option value="8" {% if request.GET.start_month == '8' %}selected{% endif %}>Agosto</option>
                <option value="9" {% if request.GET.start_month == '9' %}selected{% endif %}>Septiembre</option>
                <option value="10" {% if request.GET.start_month == '10' %}selected{% endif %}>Octubre</option>
                <option value="11" {% if request.GET.start_month == '11' %}selected{% endif %}>Noviembre</option>
                <option value="12" {% if request.GET.start_month == '12' %}selected{% endif %}>Diciembre</option>
            </select>
            <select class='form-select w-50 rounded-start-2 rounded-end-2' id="end_month" name="end_month" required>
                <option value="" disabled>Fin</option>
                <option value="1" {% if request.GET.end_month == '1' %}selected{% endif %}>Enero</option>
                <option value="2" {% if request.GET.end_month == '2' %}selected{% endif %}>Febrero</option>
                <option value="3" {% if request.GET.end_month == '3' %}selected{% endif %}>Marzo</option>
                <option value="4" {% if request.GET.end_month == '4' %}selected{% endif %}>Abril</option>
                <option value="5" {% if request.GET.end_month == '5' %}selected{% endif %}>Mayo</option>
                <option value="6" {% if request.GET.end_month == '6' %}selected{% endif %}>Junio</option>
                <option value="7" {% if request.GET.end_month == '7' %}selected{% endif %}>Julio</option>
                <option value="8" {% if request.GET.end_month == '8' %}selected{% endif %}>Agosto</option>
                <option value="9" {% if request.GET.end_month == '9' %}selected{% endif %}>Septiembre</option>
                <option value="10" {% if request.GET.end_month == '10' %}selected{% endif %}>Octubre</option>
                <option value="11" {% if request.GET.end_month == '11' %}selected{% endif %}>Noviembre</option>
                <option value="12" {% if request.GET.end_month == '12' %}selected{% endif %}>Diciembre</option>
            </select>
            <button type="submit" class="btn bg-white bg-opacity-10 text-white ms-2 rounded-end-5"
                style='font-weight: bold;'>Filtrar</button>
        </form>
    </div>

      <!-- {{report}} -->

    <div style="height: 60vh; border: 10px solid var(--bg-primary); background-color: var(--bg-primary);" class=" p-3 rounded-5 pt-0 overflow-auto">
        <table class="w-100 mt-1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Empleado</th>
                    <th>Compañía</th>
                    <th>Fecha y hora</th>
                </tr>
            </thead>
            <tbody>
                    {% for m in movements %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{ m.name }}</td>
                            <td>{{ m.company.name }}</td>
                            <td>{{ m.date|date:"d/m/Y - H:i" }}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="input-group mb-3 mt-2 d-flex justify-content-end me-2">
        <button type="button" class="btn btn-outline-secondary rounded-start-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
          </svg> Imprimir</button>
        <button type="button" class="btn rounded-end-4 btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu ">
          <li><a class="dropdown-item" href="#">PDF</a></li>
          <li><a class="dropdown-item" href="#">EXCEL</a></li>
          <li><a class="dropdown-item" href="#">TEXT</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Enviar PDF a (@gmail)</a></li>
        </ul>
      </div>
</section>

{% if report %}
<button class=" border-0 rounded-5 p-2 ps-4 pe-4 text-white position-absolute bottom-0 end-0 mb-1 me-4" style="font-weight: bold;  background-color: var(--bg-primary);">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill text-white" viewBox="0 0 16 16">
            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
      </svg> Imprimir 
</button>
<button class="bg-transparent border-0 rounded-4 text-white p-2 ps-4 pe-4 position-absolute bottom-0 end-0 mb-1 " style="font-weight: bold; margin-right: 10rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill text-white" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
      </svg> Pre-visualizacion
</button>

{% endif %}

<script>
    // Selecciona los elementos del formulario
    const statusSelect = document.getElementById('status');
    const dateInput = document.getElementById('date');
    const form = document.querySelector('form');  // El formulario

    // Función para hacer submit del formulario
    function triggerSubmit() {
        form.submit();
    }

    // Agregar evento 'change' a los elementos del formulario
    statusSelect.addEventListener('change', triggerSubmit);
    dateInput.addEventListener('change', triggerSubmit);
</script>

{% endblock  %}