{% extends "food/base/base.html" %}
{% block content %}
{% load static %}
      <style>
            .configuracion {
                  background-color: var(--bg-secundary) !important;
                  transform: scale(1.1);
            }

      </style>
      <!--Temas-->
      <section>
            {% include "restaurante/cp/tema-sistema.html" %}
      </section>
      <!--Seccion de configuracions-->
      <section class="d-flex overflow-auto">
            {% include "restaurante/cp/card-components.html" %}
      </section>

{% endblock  %}