{% extends "food/base/base.html" %}
{% block content %}
{% load static %}
      <style>
            .admin-company {
                  background-color: var(--bg-primary) !important;
                  color:  #857f94 !important;
                  transform: scale(1.1);
            }
            .admin-company svg   {
                  display: none;
            }


             input, #id_payment_terms
            {
                  background-color: var(--bg-primary);
                  color: rgb(201, 201, 201); 
                  border-radius: 2rem;
                  padding: 0.7rem;
                  width: 25rem; 
                  border: none;
                  margin: 0.5rem;
                  color: white; outline: none;
            }
             input::placeholder {
                  color: #7e7e7e;
            }
             input, #id_payment_terms::placeholder{
                  color: #7e7e7e;
            }
             input:focus {

                  color: #7e7e7e;
            }
             #id_payment_terms {
                  width: 51rem;
                  max-height: 25rem;

            }
             #id_payment_terms:focus {

                  color: #7e7e7e;
            }

            #is_active {
                  display: none !important;
            }
            a:hover{
                  background-color: transparent !important;
            }


             label
            {
                  display: flex;  
                  width: 100%;
                  margin: 0px;
            }
             label input {
                  width: 1rem;
            }
             select, #id_delivery_schedule {
            background-color: var(--bg-primary);
            border: none; outline: none;
            padding: 0.9rem;
            margin: 0.5rem;
             border-radius: 2rem;
            width: 100%;
            text-align: center;
            color: white; outline: none;
        }
        #id_is_active
        {
            border-radius: 50% !important;
        }
        .sevices-select label
            {
                  display: flex;  
                  width: 100%;
                  margin: 0px;
            }
            .sevices-select label input {
                  width: 1rem;
            }
            #id_start_date, #id_end_date  {
                  color: white;
            }
      </style>

      <section class="w-100 d-flex justify-content-center flex-wrap align-content-center vh-100 pb-5">
            <div class="d-flex justify-content-center flex-wrap">
                  <a href="{% url "company:profile-company"  request.user.employee_profile.company.id %}" 
                        style="text-decoration: none;">
                        <img src="{{request.user.employee_profile.company.img.url}}"  alt="No-Foun"
                        style='width: 90px; height: 90px; border: 10px solid var(--bg-secundary);' class="object-fit-cover rounded-circle"> 
                        <h5 class="w-100 text-center m-0 p-0 mt-1" 
                        style="font-family: Lobster, sans-serif; " >
                              {{request.user.employee_profile.company.name}} 
                        </h5>
                        <span style="font-weight: bold; font-size: 12px;" class="text-white-50 m-0 p-0">
                              {{request.user.first_name}} {{request.user.last_name}} 
                  </span>
                  </a>
            </div>
            <div class="w-100" style="max-width: 50rem;">
                  <form method="post">
                        {% csrf_token %}
                            <div class="w-100 d-flex">
                                    <!-- {{ form.company }} -->
                              </div>
                              <div class="w-100 d-flex">
                                    {{ form.start_date }} {{ form.end_date }}   {{ form.delivery_schedule }}
                              </div>
                              <div class="w-100 pe-3 d-flex"> 
                                  
                            </div>
                            <div class="w-100 d-flex ">
                                   {{ form.payment_terms }} 
                            </div>
                     
                            <div class="d-flex  flex-wrap" >
                              <label for="id_service_type"> Servicios</label>
                               {{ form.service_type }}
                            </div>
                            <div class="mt-4">
                              {% if form.is_active.value == "on" %}
                                  <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Activo</label>
                              {% else %}
                                  <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Desactivado</label>
                              {% endif %}
                              {{ form.is_active }}
                          </div>
                            <style>
                                    #id_service_type 
                                    {
                                          display: flex; background-color: #a0454500; border: none;
                                    }
                            </style>
                            <div class="d-flex w-100">
                                  {{ form.observaciones }}
                            </div>
          
                            <div class="text-end mt-2 "  style="width: 100%;">
                              <a href="{% url "company:profile-company"  request.user.employee_profile.company.id %}"  class="btn border-0 btn-secondary bg-transparent" style="font-weight: bold;">Cancelar</a>
                            <button type="submit" class="btn btn-primary border-0 p-2 ps-4 pe-4  bg-white bg-opacity-10 rounded-5">Guardar</button>
                        </div>
                      </form>
            </div>
      </section>



{% endblock  %}