{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
<style>
      .clams {
            background-color: var(--bg-primary) !important;
            color:  #857f94 !important;
            transform: scale(1.1);
      }
      .clams  svg   {
            display: none;
      }
       input, #id_description
            {
                  background-color: var(--bg-primary);
                  color: rgb(201, 201, 201); 
                  border-radius: 2rem;
                  padding: 0.7rem;
                  margin: 0.5rem;
                  width: 100%; 
                  border: none;
                  outline: none;
            }
             input::placeholder {
                  color: #7e7e7e;
            }
             input, #id_description::placeholder{
                  color: #7e7e7e;
            }
             input:focus {
                  background-color: var(--bg-primary);
                  color: #7e7e7e;
            }
             #id_description {
                  width: 51rem;
                  max-height: 20rem;


            }
             #id_description:focus {
                  background-color: var(--bg-primary);
                  padding: 0.7rem;
                  color: #7e7e7e;
            }
             #id_img 
            {
                  display: none;
            }
            #is_active {
                  display: none !important;
            }
            a:hover{
                  background-color: transparent !important;
            }

            form select {
            background-color: var(--bg-primary);
            border: none; outline: none;
            padding: 0.7rem;
            margin: 0.5rem;
             border-radius: 2rem;
            width: 100%;
            text-align: center;
        }

</style>

<div class="">
      <!-- <h5> 
            Crear Reclamaión
      </h5>
      <p>
            Crea una reclamacion o una observacion 
      </p> -->
  
      <div class="d-flex justify-content-center  align-content-center  flex-wrap vh-100 mb-5 pb-5">

            <div class="d-flex justify-content-center  align-content-start flex-wrap" style="width: 160px;">
                        <div style='width: 160px; height: 160px;
                        background-image: url("{{request.user.employee_profile.company.img.url}}"); 
                        background-position: center; background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%; border: 4px solid #7e7e7e; cursor: pointer;'
                        class="d-flex flex-wrap align-content-center img-load justify-content-center  mb-2" >
                  </div>
                  <h5 class="w-100 text-center " 
                  style="font-family: Lobster, sans-serif; " >
                        {{request.user.employee_profile.company.name}} 
                  </h5>
                  <span style="font-weight: bold; font-size: 12px;" class="text-white-50">
                        {{request.user.first_name}} {{request.user.last_name}} 
                  </span>
            </div>
    
          <div class="d-flex justify-content-center  " style="width: 52rem;">
              <form method="post">
                  {% csrf_token %}
                  
                  <!-- Renderiza el formulario -->
                  <div class="w-100 d-flex">
                        {{ form.title }}
                         {{ form.order }}
                  </div>
                  <div class="w-100 d-flex flex-wrap">
                        {{ form.description }}
                        <small class="  text-end " style="width: 98%;">
                              <span id="charCount">0</span>/70
                          </small>
                        
                  </div>
                  <div class="text-end mt-2 "  style="width: 100%;">
                        <a href="{% url 'company:claims' %}" class="btn border-0 btn-secondary bg-transparent" style="font-weight: bold;">Cancelar</a>
                      <button type="submit" class="btn btn-primary border-0 p-2 ps-4 pe-4  bg-white bg-opacity-10 rounded-5">Guardar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <script>
function updateCharacterCount() {
    const textarea = document.getElementById("id_description");
    const charCount = document.getElementById("charCount");

    // Actualiza el contador de caracteres
    const currentLength = textarea.value.length;
    charCount.textContent = currentLength;

    // Evita que el usuario pueda seguir escribiendo después de 100 caracteres
    if (currentLength >= 69) {
        textarea.value = textarea.value.substring(0, 69);  // Limita el texto a 100 caracteres
    }
}
window.onload = updateCharacterCount
  document.getElementById("id_description").addEventListener("input", updateCharacterCount);

  </script>

{% endblock  %}