{% load humanize %}
<style>

</style>
{% for p in platos %}
      <div style='min-width: 15rem; width: 15rem;' class="m-4 mt-1">
            <div class=" d-flex w-100 justify-content-start" >
                  {% if p.img %}
                        <img src="{{p.img.url}}" style="height: 5rem; width: 5rem;" class=" object-fit-cover rounded-circle" alt="">
                  {% endif %}
            </div>
            <div>
                  <h6 class="m-0 p-0 mt-2">{{p.name}}</h6>
                  <span class="text-white-50" style="font-size: 18px; font-weight: bold;">${{p.price|intcomma}}.00</span>
                  <p style="height: 3rem; font-size: 12px;" class=" text-start overflow-scroll text-white-50 p-0 m-0">-{{p.description}}
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus distinctio esse aliquam asperiores iure laboriosam alias maiores magni suscipit debitis explicabo, inventore, nobis reiciendis fuga eligendi? Fuga, repellat ratione.
                  </p>
                  <div class="w-100 d-flex justify-content-end"> 
                        <!-- <input type="number" placeholder="1" style="width: 6rem; outline: none;"
                        class="bg-white bg-opacity-10 text-center border-0 me-2 text-white"> -->
                        <button class="btn rounded-5 text-white" 
                              style="font-weight: bold; font-size: 14px; background-color: var(--bg-primary);">
                              Ordenar ahora
                        </button>
                  </div>
            </div>
      </div>
{% endfor %}