{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
{% load humanize %}
      <style>
                  .back {
            display: flex !important; 
      }

            .remove-item-btn {
                  font-weight: bold;
                  font-size: 12px;

            }
            @keyframes flip-left {
                  0% {
                        transform: rotateX(50deg);
                        opacity: 0;
                  }
                  100% {
                        transform: rotateX(0deg);
                        opacity: 1;
                  }
            }
            
                  .flip-left {
                        animation: flip-left 0.5s ease-out ;
                        transform-origin: left; 
                  }
      </style>



{% if object.is_active %}
<form action="" method="post">
      {% csrf_token %}
      <div style='min-width: 15rem; width: 15rem;' class="m-4 mt-1 plato-item ">
            <div class=" d-flex w-100 justify-content-center"> 
                  {% if object.img %}
                        <img src="{{object.img.url}}" style="height: 10rem; width: 10rem;" class=" object-fit-cover rounded-5 img-p me-2">
                  {% endif %}
                  <div class=" d-block justify-content-end img-sec pt-0">
                        {% if object.img %}
                              <img src="{{object.img.url}}" style="height: 2.9rem; width: 3rem;" class=" object-fit-cover rounded-4 img-1 m-1">
                        {% endif %}
                        {% if object.img1 %}
                              <img src="{{object.img1.url}}" style="height: 2.9rem; width: 3rem;" class=" object-fit-cover rounded-4 img-1 m-1">
                        {% endif %}
                        {% if object.img2 %}
                              <img src="{{object.img2.url}}" style="height: 2.9rem; width: 3rem;" class=" object-fit-cover rounded-4 img-1 m-1">
                        {% endif %}
                  </div>
            </div>
            <script>
                  document.addEventListener('DOMContentLoaded', function() {
                        const items = document.querySelectorAll('.plato-item');
                        items.forEach(item => {
                              const thumbnails = item.querySelectorAll('.img-sec .img-1');
                              const mainImage = item.querySelector('.img-p');
                              thumbnails.forEach(thumbnail => {
                                    thumbnail.addEventListener('mouseover', function() {
                                          mainImage.src = this.src;
                                          mainImage.classList.add('flip-left');
                                            setTimeout(() => {
                                                      mainImage.classList.remove('flip-left');
                                            }, 488);

                                    });
                              });
                        });
                  });
                  document.addEventListener('DOMContentLoaded', function() {
                        const items = document.querySelectorAll('.plato-item');
                        items.forEach(item => {
                              const thumbnails = item.querySelectorAll('.img-sec .img-1');
                              const mainImage = item.querySelector('.img-p');
                              thumbnails.forEach(thumbnail => {
                                    thumbnail.addEventListener('click', function() {
                                          mainImage.src = this.src;
                                    });
                              });
                        });
                  });
            </script>
            <div class="mt-3">
                  <h6 class="m-0 p-0 mt-2">{{object.name}}</h6>
                  <p style="height: 3rem; font-size: 14px;" class=" text-start overflow-auto text-white-50 p-0 m-0">-{{object.description}}</p>
                  <div class="w-100 d-flex justify-content-end mt-0"> 
                        <span class="text-white me-4 p-0 ps-3 pe-3 d-flex flex-wrap justify-content-center align-content-center  rounded-5 bg-white bg-opacity-10" style="font-size: 18px; font-weight: bold;">${{object.price|intcomma}}</span>
                        {% if exist_order != True %}
                        <button class="btn rounded-5  text-black  w-100 bg-warning order-now-btn" 
                        style="font-weight: bold; font-size: 14px;"
                        data-category="{{p.category.id}}"  data-plato="{{p.id}}"  data-name="{{p.name}}" data-price="{{p.price}}" data-img="{% if p.img %}{{p.img.url}}{% endif %}" >
                        Ordenar 
                        </button> 
                  {% endif %}
                  </div>
            </div>
      </div>
</form>
{% endif %}

{% endblock %}