{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
<style>
      .administration {
            background-color: var(--bg-primary) !important;
            color:  #857f94 !important;
            transform: scale(1.1);
      }
      .administration svg   {
            display: none;
      }
</style>

      <div class="mt-0">
            <strong class=''>
                  <span class='text-white-50'> Menus </span>   
            </strong>
            <p class="text-white-50">
                  Las menus ayudan a organizar los platos ( Desayuno, Almuerzo, Meriendas, Cenas y mas )
            </p>
      </div>
      <section class='mt-0 d-flex   overflow-auto'>
            <a href="{% url "company:create-category" %}" class="d-flex rounded-5 me-2 bg-white bg-opacity-10 justify-content-center align-content-center flex-wrap" style="height: max-content; min-height: 40px; min-width: 40px; transform: scale(1.0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-white bi-plus-circle-fill text-white" style="" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                  </svg>
            </a> 
            {% if categorias %}
                        {% include "company/platos/list-catergoria-admin.html" %}
                  {% else %}
                  <div class='text-center'>
                        <h6>No hay platos para mostrar.</h6>
                        <a >Pulsa sobre alguna categoria</a>
                  </div>
            {% endif %}
      </section>
      <form action="" method="get">
            {% csrf_token %}
            <button class='bg-transparent border-0 text-start'>
                  <div class="mt-3">
                  
                        <strong class='text-start w-100'>
                              <span class='text-white-50'> Todos  los {% if categoria_show %} {{categoria_show}}   {% else %}   platos  {% endif %} </span>   
                        </strong>
                        <p class="text-white-50">
                              Aquí puedes ver todos los platos de todas las categorias
                        </p>
                  </div>
            </button>
      </form>
      <section class='mt-0 d-flex   overflow-auto  w-100 justify-content-start'>
            <a href="{% url "company:create-plato" %}" class="d-flex rounded-5 me-3 bg-white bg-opacity-10 justify-content-center align-content-center flex-wrap" 
                  style="height: max-content; min-height: 40px;
                   min-width: 40px; transform: scale(1.0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-white bi-plus-circle-fill text-white" style="" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                  </svg>
                  </a>
            {% if platos %}
                        {% include "company/platos/tabla-platos.html" %}
                  {% else %}
                  <div class='text-center w-100 mt-5 pt-4'>
                        <h6>No hay platos para mostrar</h6>
                        <p  class='text-white-50'>Pulsa sobre un menu</p>
                  </div>
            
            {% endif %}
      </section>


{% endblock  %}