<div class="d-flex mb-3 w-100 justify-content-end mt-5">
      <form method="GET" action="" class="me-2">
            <select name="category" class=" rounded-start-4 form-select bg-white bg-opacity-10 border-0 text-white"    onchange="this.form.submit()">
                  <option value="">Todas las Categorías</option>
                  {% for category in categories %}
                  <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>{{ category.name }}</option>
                  {% endfor %}
            </select>
            <input type="hidden" name="company" value="{{ request.GET.company }}">
      </form>
      <form method="GET" action="" class="me-2 "> 
            <select name="company"  class=" form-select bg-white  bg-opacity-10 border-0 text-white" onchange="this.form.submit()">
                  <option value="">Todas las Empresas</option>
                  {% for company in companies %}
                  <option value="{{ company.id }}" {% if request.GET.company == company.id|stringformat:"s" %}selected{% endif %}>{{ company.name }}</option>
                  {% endfor %}
            </select>
            <input type="hidden" name="category" value="{{ request.GET.category }}">
      </form>
      {% comment %} <form method="GET" action="">
            <select name="status" class="form-select bg-white bg-opacity-10 border-0 text-white" onchange="this.form.submit()">
                  <option value="">Todos los Estados</option>
                  <option value="pendiente" {% if request.GET.status == 'pendiente' %}selected{% endif %}>Pendiente</option>
                  <option value="preparando" {% if request.GET.status == 'preparando' %}selected{% endif %}>En preparación</option>
                  <option value="enviado" {% if request.GET.status == 'enviado' %}selected{% endif %}>En camino</option>
                  <option value="entregado" {% if request.GET.status == 'entregado' %}selected{% endif %}>Entregado</option>
            </select>
            <input type="hidden" name="category" value="{{ request.GET.category }}">
            <input type="hidden" name="company" value="{{ request.GET.company }}">
      </form> {% endcomment %}

      <button 
      onclick="toggleAllColors(this.id)" id="filter"
       class=' border-0 pe-3 ps-3 rounded-2 me-2 bg-white bg-opacity-10 text-white me-1  '>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M3.5 5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1M5 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5"/>
                </svg>
          </button> 
      <button class='send-button border-0 ps-3 pe-3 rounded-2 bg-white bg-opacity-10 rounded-end-4 text-white border-0 ' 
      style='font-weight: bold;' onclick="sendSelectedIds()" disabled=true> 
            Enviar al despacho   <span class='count-select'> (0) </span>
      </button> 
</div>