{% extends "food/base/base.html" %}
{% block content %}
<style>
      .envios {
            background-color: var(--bg-secundary) !important;
            transform: scale(1.1);
      }

      .card-options   a {
            text-decoration: none;
      }
      .card-options .card     {
            width: 16rem; height: 16rem;
            background-color: var(--bg-primary);
            margin: 0.6rem; 
            cursor: pointer;
      }
      .card-options .card:hover     {
            /* transform: scale(0.9);  */
            /* transition: 0.2s !important; */
      }



</style>
{% if company %}
<h2>
      Seleccione empresa
</h2>
<p>
      Aquí puedes ver las órdenes que se han estanpreparando
</p>
<section class="card-options d-flex   flex-wrap  ">

              {% for company, company_data in company.items %}
                  <a  href="{% url "company:realize-order-company"  company_data.id %}">
                        <div data-aos="fade-in" style="transition-delay: 0.2s;" class='card d-flex rounded-5 p-4'>
                              <div class="d-flex justify-content-center">
                                    {% if company_data.img %}
                                    <img src="{{company_data.img}}" width='150'  height='150' class='object-fit-cover rounded-circle' >
                                    {% endif %}
                              </div>
                              <h4 class="mt-3 text-center">
                                    {{company|truncatechars:10}} 
                              </h4>
                              <div class="position-absolute d-flex justify-content-center align-content-center flex-wrap top-0 end-0 text-white me-3 mt-3"
                                    style="font-size: 16px; background-color: var(--bg-secundary); width: 30px; height: 30px; border-radius: 50%; font-weight: bold;">
                                    {{ company_data.orders|length}}
                              </div>
                        </div>
                  </a>
            {% endfor %}
      </section>
            {% else %}
            <div class="d-flex vh-100 text-center justify-content-center align-content-center flex-wrap"> 
                  <h5 class='w-100'>
                        No hay despachos
                  </h5>
                   <p class='text-white-50'> 
                        Los despachos pasan al envio
                   </p>
            </div>
      {% endif %}

{% endblock  %}
<!-- href="{% url "company:realize-order-company"  c.id %}" -->