{% extends "food/base/base.html" %}
{% block content %}

            <section>

                  <div class="w-100">
                              <h5> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                  </svg> Reporte de pedidos</h5>
                                  <p class="text-white-50" style="font-size: 14px;"> Se muestran los listado de los pedidos que el empleado ha realizado en base a los platos seleccionados del menú </p>
              <!-- Reporte de Pedidos -->

                              <!-- Reporte de Pedidos -->


                              {% if orders %}
                              <table class="w-100">
                                    <thead>
                                          <tr>
                                          <th>Empleado</th>
                                          <th>Plato</th>
                                          <th>Fecha del Pedido</th>
                                          <th>Estado</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          {% for order in orders %}
                                          <tr>
                                                <td>{{ order.employee.username }}</td>
                                                <td>{{ order.menu_item.name }}</td>
                                                <td>{{ order.date|date:"d/m/Y - H:i" }}</td>
                                                <td>{{ order.get_status_display }}</td>
                                          </tr>
                                          {% endfor %}
                                    </tbody>
                              </table>
                              {% else %}
                              <p>No has realizado pedidos aún.</p>
                              {% endif %}
                  </div>


            </section>
            {% if orders %}
                  <button class="bg-white bg-opacity-10 border-0 rounded-4 p-2 ps-4 pe-4 position-absolute bottom-0 end-0 mb-1 me-4" style="font-weight: bold;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                              <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                              <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        </svg> Imprimir 
                  </button>
            {% endif %}
{% endblock  %}