{% extends "food/base/base.html" %}
{% block content %}
            <style>
                  .orders {
                        background-color: var(--bg-primary) !important;
                        color:  #857f94 !important;
                        transform: scale(1.1);
                  }
                  .orders  svg   {
                        display: none;
                  }
                  form input, select
                  {
                        background-color: var(--bg-primary);
                        border: none; outline: none;
                        padding: 0.6rem; border-radius: 2rem;
                        width: 15rem;
                  }
            </style>
            <section>

                  <div class="w-100">
                              <h5>     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                                  </svg>  Ordenes</h5>
                                  <p class="text-white-50" style="font-size: 14px;"> Se muestran los listado de los pedidos que el empleado ha realizado en base a los platos seleccionados del menú </p>
              <!-- Reporte de Pedidos -->
                                  <div>
                                    <!-- Formulario de Filtro -->
                                          <form method="get">
                                                <!-- <label for="status">Estado del pedido:</label> -->
                                                <select name="status" id="status">
                                                <option value="">-- Seleccionar --</option>
                                                <option value="pendiente" {% if request.GET.status == 'pendiente' %}selected{% endif %}>Pendiente</option>
                                                <option value="completado" {% if request.GET.status == 'completado' %}selected{% endif %}>Completado</option>
                                                </select>
                                          
                                                <!-- <label for="date">Fecha del pedido:</label> -->
                                                <input type="date" name="date" class="ms-3" id="date" value="{{ request.GET.date }}">
                                          
                                                <button type="submit" class="border-0 bg-white bg-opacity-10 p-2 ps-5 pe-5 rounded-5 ms-3 " 
                                                style="font-weight: bold;">Filtrar</button>
                                          </form>
                                          
                                  </div>

                              {% if orders %}
                              <table class="w-100">
                                    <thead>
                                          <tr>
                                          <th>Empleado</th>
                                          <th>Plato</th>
                                          <th>Fecha del Pedido</th>
                                          <th>Estado</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          {% for order in orders %}
                                          <tr>
                                                <td>{{ order.employee.username }}</td>
                                                <td>{{ order.menu_item.name }}</td>
                                                <td>{{ order.date }}</td>
                                                <td>{{ order.get_status_display }}</td>
                                          </tr>
                                          {% endfor %}
                                    </tbody>
                              </table>
                              {% else %}
                              <p class="mt-4">No has realizado pedidos aún</p>
                              {% endif %}
                  </div>


            </section>
            {% if orders %}
                  <button class="bg-white bg-opacity-10 border-0 rounded-4 p-2 ps-4 pe-4 position-absolute bottom-0 end-0 mb-1 me-4" style="font-weight: bold;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                              <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                              <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        </svg> Imprimir 
                  </button>
            {% endif %}
{% endblock  %}