{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
<style>
      .envios {
            background-color: var(--bg-primary) !important;
            color:  #857f94 !important;
            transform: scale(1.1);
      }
      .envios  svg   {
            display: none;
      }
      #map {
            height: 100%;
            width: 100%;
      }
      html, body {
            height: 100%;
            margin: 0;
            padding: 0;
      }
      .gm-control-active, .gmnoprint 
      {
            display: none !important;
      }

</style>

<section>
      <div id="map" style="height: 400px; width: 100%;" class='rounded-5 '></div>
      <div class="d-flex mt-4">
                  <div class=" d-flex justify-content-start flex-wrap align-content-start"  style="width: 400px; height: 400px;">
                        <img src="{{company.img.url}}" class="rounded-circle"
                        width="110px" height="110px" alt="">
                        <strong style="font-size: 14px; font-weight: bold;" class="mt-4 mb-1 w-100 text-start">
                              {{company.name}}
                        </strong>
                        <span style="cursor: pointer;" class="text-start w-100">
                              
                            1)    {{company.address|truncatechars:30}}
                        </span>
                  </div>      
                  <div class="w-100   bg-black bg-opacity-25  p-3 rounded-4 pt-0 overflow-auto" style="max-height: 20rem; height: max-content;">

                        <table class="w-100 mt-4">
                              <thead>
                                    <tr>
                                          <th style="width: 6%;" scope="col"> #</th>
                                          <th style="width: 8%;" scope="col">Imagen</th>
                                          <th  style='width: 10%;'>Nombre</th>
                                          <th style="width: 30%;" scope="col">Plato</th>
                                          <th style="width: 20%;" scope="col">Precio</th>
                                          <th style="width: 20%;" scope="col">Estado</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    {% for order in orders %}
                                    <tr>
                                          
                                          <td>{{ forloop.counter }}</td>
                                          <td> 
                                                <img src="{{ order.plato.img.url }}" width="40" height="40" class="object-fit-cover rounded-circle mt-2"  > 
                                          </td>
                                          <td>
                                                {{ order.employee.first_name|truncatechars:"10" }} 
                                                {{ order.employee.last_name|truncatechars:"10" }}
                                          </td>
                                            <td>{{ order.name|truncatechars:20 }}</td>
                                          <td> ${{ order.price|intcomma}}.00</td>
                                          <td>{{ order.status }} </td>
                                    </tr>
                                    {% endfor %}
                              </tbody>
                        </table>
                         
                        <div class="position-absolute bottom-0 end-0 mb-4 me-4">
                              
                              <form action="" method="post">
                              <a href="{% url 'company:enviar-order' %}" class="esc btn text-white-50"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                        </svg>      
                              </a>
                                    {% csrf_token %}
                                    <input type="hidden" name="end">
                                    <button class="btn btn-warning text-black rounded-5  " style="font-weight: bold;">
                                          ${{total|intcomma}}.00   Entregar
                                    </button>
                              </form>
                        </div>
                  </div>
      </div>
</section>
      <script>
            function initMap() {
                  var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 5,
                        center: {lat: 18.735693, lng: -70.162651} // Coordenadas de República Dominicana
                  });

                  window.directionsService = new google.maps.DirectionsService();
                  window.directionsRenderer = new google.maps.DirectionsRenderer();
                  directionsRenderer.setMap(map);
            }

            function calculateRoute() {
                  var start = document.getElementById('start').value;
                  var end = document.getElementById('end').value;

                  var request = {
                        origin: start,
                        destination: end,
                        travelMode: 'DRIVING'
                  };

                  directionsService.route(request, function(result, status) {
                        if (status == 'OK') {
                              directionsRenderer.setDirections(result);
                        } else {
                              console.error('Directions request failed due to ' + status);
                        }
                  });
            }
      </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlRiEbU6bhninS9aZvaO5MfB8jWyzfjw0&callback=initMap"></script>
      
{% endblock %}
