<style>
      .card-components {
            background-color: var(--bg-primary) !important;
            border: 18px solid var(--bg-primary);
            min-width: 27rem;  height: 15rem;
            padding: 0.5rem; border-radius: 2.7rem; margin: 0.4rem;
            display: flex; flex-wrap: wrap ;  align-content: start;
            overflow: auto;
            color: rgba(255, 255, 255, 0.766);
      }
      .card-components .span
      {
            font-weight: bold;
            font-size: 14px; 
            margin-bottom: 0.5rem; margin-top: 0.5rem;
            /* text-align: center; */
      }
      .card-components div
      {
            margin-top: 1rem;
            padding: 0.5rem 1.7rem; margin: 0.2rem;
            border-radius: 1rem;
            width: max-content;
            background-color: var(--bg-secundary);
            cursor: pointer;
            transition: 0.3s;
      } 
      .card-components div:hover
      {
            background-color: rgba(13, 11, 15, 0.358);
      }

</style>

<!--
      Facturacion
-->
<div class="card-components">
     <span class="span w-100">
            Facturacion
     </span> 
     <hr class="w-100">
     <div>
            Plantillas
       </div>
       <div>
              Terminos 
       </div>
       <div>
              Politicas 
       </div>
       <div>
              Notificaciones, correos y sms
       </div>
       <div>
              Sello y firma
       </div>
</div>

<!--
      POS
-->
<div class="card-components">
      <span class="span w-100">
             Punto de venta (POS)
      </span> 
      <hr class="w-100">
      <div>
             Formas de pago
      </div>
      <div>
             % Descuento
      </div>
      <div>
             Promociones
      </div>
      <div>
             Politicas de privacidad
      </div>
       <div>
               Notificaciones, correos y sms
       </div>
 </div>

<!--
      Inventario 
-->
 <div class="card-components">
      <span class="span w-100">
             Configuracion de inventario
      </span> 
      <hr class="w-100">
      <div>
             Alertas, notificaciones, avisos 
      </div>
      <div>
             Configuracion
      </div>
      <div>
            ...
     </div>
     <div>
            ...
      </div>
 </div>

 <!-- RMVG -->