{% extends "food/base/base.html" %}
{% block content %}
{% load static %}
      <style>
            .admin-company {
                  background-color: var(--bg-primary) !important;
                  color:  #857f94 !important;
                  transform: scale(1.1);
            }
            .admin-company svg   {
                  display: none;
            }
      </style>
      {% if company %} 
      <section class='d-flex justify-content-start flex-wrap align-content-start  w-100 h-100'>
                  <div>
                        <h6>
                              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
                                  </svg>  -->
                                  Listado de compañias
                        </h6>
                        <p>
                              El listado de compañia estan agregadas todas las empresas para administrar facilmente
                        </p>
                  </div>
                  <div class="d-flex overflow-scroll">
                        
                        <a href="{% url "company:create-company" %}" class="d-flex rounded-5 me-2 bg-white bg-opacity-10 justify-content-center align-content-center flex-wrap" style="height: max-content; min-height: 40px; min-width: 40px; transform: scale(1.0);">
          
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-white bi-plus-circle-fill text-white" style="" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                              </svg>

                        </a>
                        {% include "company/list-company.html" %}

                  </div>

            {% else %}
      <section class='d-flex justify-content-center flex-wrap align-content-center w-100 h-100'>
            <div data-aos="zoom-in"  class='text-center d-flex justify-content-center flex-wrap align-content-center' style=" transition: 1s; width: 40rem; height:30rem;
            background-color: ; border-radius: 2.5rem;">
            <div>
                  <img src="{% static "/img/ramen.png" %}"  alt="No-Foun"
                  style='width: 300px; height: 300px; border: 10px solid var(--bg-secundary);' class="object-fit-cover rounded-circle"> 
            </div>
                  <h6 data-aos="fade-right" class="w-100" 
                        style="
                        transition-delay: 0.5s;
                        font-weight: bold;" >
                        No hay empresas
                  </h6>
                  <p data-aos="fade-in" style="transition-delay: 0.7s;">
                        ¿Desea registar su primera compañia?
                  </p>
                  <div class="w-100">
                        <a href="{% url "company:create-company" %}">
                              <button data-aos="fade-up" style="transition-delay: 0.9s;" class="bg-white bg-opacity-10 rounded-5 p-2 ps-4 pe-4 border-0 ">
                                    Registrar 
                              </button>
                        </a>
                  </div>

            </div>
            {% endif %}
      </section>

{% endblock  %}