<style>
      .card-options   a {
            text-decoration: none;
      }
      .card-options .card     {
            width: 18rem; height: max-content;
            background-color: rgba(254, 254, 254, 0.035);
            margin: 0.3rem; 
            cursor: pointer;
      }
      .card-options .card:hover     {
            /* transform: scale(0.9);  */
            /* transition: 0.2s !important; */
      }


</style>
<section class="card-options d-flex   overflow-auto  ">
      {% for c in company  %}
      <a href="{% url "company:profile-company"  c.id %}" >
            <div data-aos="fade-in" style="transition-delay: 0.2s;" class='card d-flex rounded-5 p-3'>
                  <div class="d-flex justify-content-center flex-wrap">
                        {% if c.img %}
                        <img src="{{c.img.url}}" width='60'  height='60' class='object-fit-cover rounded-circle' alt="">
                        {% endif %}
                        <h4 class="text-center mt-1 w-100">
                              {{c.name}}
                        </h4>
                        <p class="w-100 text-center p-0 m-0">
                              {{c.representative}}
                        </p>
                  </div>
            </div>
      </a>
      {% endfor %}

</section>