<style>
      .card-options   a {
            text-decoration: none;
      }
      .card-options .card     {
            width: 30rem; height: 13rem;
            background-color: var(--bg-primary);
            margin: 0.6rem; 
            cursor: pointer;
      }
      .card-options .card:hover     {
            /* transform: scale(0.9);  */
            /* transition: 0.2s !important; */
      }


</style>

<section class="card-options d-flex overflow-scroll  ">
      {% for c in company  %}
      <a href="{% url "company:profile-company"  c.id %}" >
            <div data-aos="fade-left" style="transition-delay: 0.4s;" class='card d-flex rounded-5 p-4'>
                  <div>
                        <img src="{{c.img.url}}" width='90'  height='90' class='object-fit-cover rounded-circle' alt="">
                        <h4>
                              {{c.name}}
                        </h4>
                  </div>
                  <p>
                        {{c.address}}
                  </p>
            </div>
      </a>
      {% endfor %}

</section>