{% extends "food/base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
      <style>
            .restaurant {
                  background-color: var(--bg-primary) !important;
                  color:  #857f94 !important;
                  transform: scale(1.1);
            }
            .restaurant svg   {
                  display: none;
            }
      </style>


      <span class="position-absolute top-0 end-0 me-4 mt-4" onclick="Orders()" style="font-weight: bold; cursor: pointer;">
       Ordenes
      </span>

      <div style="width: 24rem; height: 50rem;"
      class=" position-absolute orders-list  d-none  rounded-5 p-1 me-2 position-relative  top-0 end-0 z-2">
      <svg xmlns="http://www.w3.org/2000/svg" onclick="Orders()" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill me-1 position-absolute start-0 z-3" viewBox="0 0 16 16" style="cursor: pointer;">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
          </svg>
                  <div class="blur-10  bg-black bg-opacity-25 p-3 h-100 w-100 mt-2 shadow rounded-5">
             
                  </div>
      </div>


      <div class="">
            <strong class=''>
                  <span class='text-white-50'> Menus </span>   
            </strong>
            <p class="text-white-50 p-0 m-0">
                  Los menus ayudan a organizar los platos (Desayuno, Almuerzo, Meriendas, Cenas y mas)
            </p>
      </div>
      <section class='mt-0 d-flex   overflow-auto mt-4'>
            {% if categorias %}
                        {% include "company/platos/list-categorias.html" %}
                  {% else %}
                  <div class='text-center'>
                        <h6>No hay categorías de platos registradas.</h6>
                        <a >Agregar categorías de platos</a>
                  </div>
            {% endif %}
      </section>

      {% comment %} {{platos.choices_menu.all}}

      {% if platos.choices_menu.all %}
            {% for c in   platos.platos_category.all %}
                  {{c.name}}
            {% endfor %}
      {% endif %} {% endcomment %}

      {% if platos.choices_menu.all %}
      <div class="mt-3">
            <strong class=''>
                  <span class='text-white-50'> Todos los platos </span>   
            </strong>
            <p class="text-white-50">
                  Aquí puedes ver todos los platos de todas las categorias
      </div>
      <section class='mt-0 d-flex   overflow-auto flex-wrap justify-content-start'>

        
                        {% include "company/platos/list-platos.html" %}
                  {% else %}
                  <div class='text-center'>
                        {% comment %} <h6> No se encontraron platos </h6> {% endcomment %}
                  </div>
            
            </section>
{% endif %}

      <script>
            function Orders() {
              const element = document.querySelector('.orders-list');
              if (element) {
                element.classList.toggle('d-none');
                element.classList.add('flip-down-ai')
              }
            }
      </script>

{% endblock  %}